<div class="container-full white-bg margin_bottom_30">
  <div class="container">
    <ul class="pagination-custom row start">
      {% if paginate.previous %}
        <li class="radius-all"><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}">Prev</p></a></li>
      {% endif %}
    
      {% for part in paginate.parts %}
        {% if part.is_link %}
          <li class="radius-all">
            <a href="{{ part.url }}" title="">{{ part.title }}</a>
          </li>
        {% else %}
          {% if part.title == paginate.current_page %}
            <li class="radius-all active"><span>{{ part.title }}</span></li>
          {% else %}
            <li class="radius-all"><span>{{ part.title }}</span></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    
      {% if paginate.next %}
        <li class="radius-all"><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">Next</a></li>
      {% endif %}
    </ul>
  </div>
</div>