{% assign product_qty = 0 %}
{% for variant in product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}


<div class="product-block radius-all white-bg grid-el">
	<div class="product-block-image"> 
    	{% if product.featured_image %}
        	<img src="{{ product.featured_image | img_url: '1024x' }}" alt="{{ product.title }}">
  		{% else %}
        	<img src="{{ 'product.jpg' | asset_url }}" alt="{{ product.title }}">
  		{% endif %}
    <a href="{{ product.url | within: collection }}"></a>
  </div>
  <div class="top row radius-bottom padding-1vw dark-bg">
    <div class="left column horizontal-center">
      <h5>{{ product.title | strip_html | truncatewords: 4 }}</h5>
      <h5 class="normal">
        {% if product_qty == 0 %}
        Sold out
        {% else %}
          {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
              {%- assign sale_price = product.price | money -%}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% else %}
            {% if product.price_varies %}
              {%- assign price = product.price | money -%}
            {% else %}
              {{ product.price | money }}
            {% endif %}
          {% endif %}
          {% if product.compare_at_price > product.price %}
            {{ products.product.regular_price }}
            <s>{{ product.compare_at_price | money }}</s>
        {% endif %}
      {% endif %}
    </h5>
    
    </div>
    <div class="right radius-all">
      <form method="post" action="/cart/add" class="radius-all two-per-row-no-margin two-per-row-no-margin-mobile vertical-center">
        <div class="add-wish center-all grid-el radius-left">
          <button type="submit" class="center-all radius-left">{% render 'icon-star' %}</button>
        </div>
        <div class="add-cart center-all grid-el radius-right">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
          <button type="submit" class="center-all radius-right" >{% render 'icon-shopping-cart' %}</button>
        </div>
        </form>
    </div>
  </div>
  </div>