{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Best selling products" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the Best selling products section
  - Subheading: description of the Best selling products section
{%- endcomment -%}
<div class="container-full white-bg full-height vertical-center">
  <h2 class="underline margin-45">Best Selling</h2>
  <div class="container four-per-row grid-container">
    {% for product in collections.best-selling-products.products limit:8 %}
      <div class="product-el center-all grid-el">
        {% if product.featured_image %}
        <img src="{{ product.featured_image | img_url: '1024x' }}" alt="{{ product.title }}">

        <!-- <figure>
          <span>
          </span>
        </figure> -->
        {% else %}
          <!-- <figure>
            <span>
            </span>
          </figure> -->
          <img src="{{ 'product.jpg' | asset_url }}" alt="{{ product.title }}">

        {% endif %}
        <a href="{{ product.url }}"></a>
        <div class="product-el-text padding-1vw">
          <h2>{{ product.title | strip_html | truncatewords: 15 }}</h2>
        </div>
      </div>
  {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Best selling products",
    "presets": [{
      "name": "Best selling products",
      "category": "Product"
    }]

  }
{% endschema %}