{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Blog posts" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the blog posts section
  - Blog (which blog category to show in your store)

  Theme Store optional settings
  - Number of posts to show
  - Show author
  - Show date
{%- endcomment -%}
<section class="white-bg full-height auto center-all column">
  {% if section.settings.title != blank %}
  <div class="container-full margin-30">
    <div class="container row end">
      <h2 class="underline">{{ section.settings.title | escape }}</h2>
    </div>
  </div>
  {% endif %}
  <div class="container-full one-per-row-no-margin one-per-row-mobile margin-45">
    <div class="container grid-el">
      <div class="slider blog-slider">
      {%- assign blog = blogs[section.settings.blog] -%}
      {% for article in blog.articles limit: 8 %}
      <div class="blog-el radius-all">
        {% if article.image %}
            <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.title }}">
        {% else %}
            <img src="{{ 'blog.jpg' | asset_url }}" alt="{{ article.title }}">
        {% endif %}
        <a href="{{ article.url }}"></a>
        <div class="blog-el-text">
          <h2>{{ article.title | strip_html | truncatewords: 6 }}</h2>
        </div>
        <div class="dark-image-bg radius-all"></div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
    <div class="container grid-el row between vertical-center margin-top-15">
      <div class="slick-slider-nav">
        <div class="arrow-left center-all">{% render "icon-arrow-left" %}</div>
        <div class="arrow-right center-all">{% render "icon-arrow-right" %}</div>
      </div>
      <a href="/blogs/news" class="link-dark">Read our blog</a>
    </div>
</section>

{% schema %}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}