{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Collection
{%- endcomment -%}
<div class="container-full margin-top-45 two-per-row-no-margin">
  {% for block in section.blocks limit: 6 %}
    {%- assign collection = collections[block.settings.collection] -%}
    <div class="collection-object grid-el homepage">
      {% if collection.image %}
          <img src="{{ collection.image.src | collection_img_url: 'original' }}" alt="{{ collection.title }}">
      {% else %}
          <img src="{{ 'collection.jpg' | asset_url }}" alt="{{ collection.title }}">
      {% endif %}
      <a href="{{ collection.url | default: "#" }}">  
        <div class="collection-title column center-all padding-1vw">
            {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
            <h3>{{ collection.title | default: default_label }}</h3>
            <a href="{{ collection.url | default: "#" }}" class="link-light">Shop now</a>
        </div>
        </a>
        <div class="dark-image-bg"></div>
    </div>
  {% endfor %}
      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
    </div>
  </div>

{% schema %}
  {
    "name": "Collection list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
