{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Collection list" section in the Theme Editor.

  Theme Store required settings
  - Heading: title of the collection list section
  - Collection
{%- endcomment -%}
  <div class="container full-height auto center-all column margin_45">
    <h2 class="full-width text-center margin_30">{{ section.settings.title | escape }}</h2>
    <section class="collection-list row center dark-bg desktop">
      {% for block in section.blocks limit: 3 %}
        {%- assign collection = collections[block.settings.collection] -%}
        <div class="collection-object homepage" style="background-image: url('{{ collection.image.src | collection_img_url: 'original' }}');">
          <a href="{{ collection.url | default: "#" }}" class="collection-list-item" {{ block.shopify_attributes }}>  
            <div class="collection-title">
                {%- assign default_label = 'homepage.onboarding.collection_title' | t -%}
                <h3>{{ collection.title | default: default_label }}</h3>
            </div>
            </a>
            <div class="dark-image-bg"></div>
        </div>
      {% endfor %}
      <div class="collection-object homepage">
        <a href="/collections" class="collection-list-item" {{ block.shopify_attributes }}></a>
        <h2>See all</h2>
      </div>
      {% if section.blocks.size == 0 %}
        {% include 'no-blocks' %}
      {% endif %}
    </section>
    </div>

{% schema %}
  {
    "name": "Collection list",
    "max_blocks": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}
