<div class="container-full index-10 full-height auto vertical-center dark-bg" style="background-image: url({{ section.settings.footer_bg | img_url: 'master' }});">
  <div class="container">
    <footer class="row">
      <div class="footer-wrap">
        <h2 class="big">Humanity runs on coffee</h2>
      </div>
      <div class="footer-wrap center-all">
        <h2 class="margin_right_15">We are here</h2>
        <ul class="row social radius-all">
          <li><a href="">{% include "icon-facebook" %}</a></li>
          <li><a href="">{% include "icon-twitter" %}</a></li>
          <li><a href="">{% include "icon-youtube" %}</a></li>
        </ul>
      </div>
      <div class="footer-wrap menu full-width row margin_top_30">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.122142493913!2d-122.4128846845441!3d37.78717721921855!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8085808e4c2e1e5d%3A0x20cd7876b1d66114!2sStarbucks!5e0!3m2!1suk!2sua!4v1606343370381!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      <div class="footer-wrap full-width margin_top_15">
        <p >{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}. {{ powered_by_link }}</p>
      </div>
    </footer>
  </div>
  <div class="dark-image-bg"></div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "image_picker",
        "id": "footer_bg",
        "label": "Footer background"
      },
      {
        "type": "text",
        "id": "footer_text",
        "label": "Type short info for footer",
        "default": "Text here"
      }
    ]
  }

{% endschema %}