{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<div class="container-full white-bg fixed-pos" id="header">
  <div class="container">
    <header role="banner" class="header white-bg vertical-center">
            <a href="/" class="logo">{{shop.name}}</a>
            <div class="header-nav row vertical-center">
              <a href="/cart" id="cart-number">Cart {{ cart.item_count }}</a>
              <div class="open-menu">
                <span class="radius-all"></span>
                <span class="radius-all"></span>
                <span class="radius-all"></span>
              </div>
            </div>
    </header>
  </div>
</div>

<div class="container-full grid-container white-bg header-menu hidden fixed-pos">
  <div class="container full-width full-height center-all">
      <nav role="navigation" class="navigation full-width row">
          <ul class="menu column margin-100">
            {% for link in linklists[section.settings.menu].links %}
              {% if link.links != blank %}
                <li>
                  <a class="big" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                  <ul>
                    {% for childlink in link.links %}
                      <li>
                        <a class="big" href="{{ childlink.url }}">
                          {{ childlink.title }}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a class="big" href="{{ link.url }}">
                    {{ link.title }}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
            <li class="close-menu"><a class="big">Close</a></li>
          </ul>
        </nav>
        <div class="dark-image-bg"></div>
  </div>
  {% if section.settings.navigation_image_select == "uploaded_image" %}
    <div class="container full-width full-height vertical-center nav-right" style="background-image: url('{{ section.settings.navigation_image | img_url: 'master' }}')"></div>
  {% else %}
    <div class="container full-width full-height vertical-center nav-right" style="background-image: url('{{ section.settings.navigation_image_url }}')"></div>
  {% endif %}
</div>
    {% schema %}
      {
        "name": "Header",
        "settings": [
          {
            "type": "header",
            "content": "Header"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
          },
          {
            "type": "link_list",
            "id": "menu-collection",
            "label": "Collection menu"
          },
          {
            "type": "image_picker",
            "id": "navigation_image",
            "label": "Navigation menu image"
          },
          {
            "type": "text",
            "id": "navigation_image_url",
            "label": "Navigation menu image url"
          },
          {
            "type": "select",
            "id": "navigation_image_select",
            "label": "Choose type of image",
            "default": "uploaded_image",
            "options": [
              {
                "value": "uploaded_image",
                "label": "Uploaded image"
              },
              {
                "value": "url_image",
                "label": "Url image"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "header_block_bg",
            "label": "Header image"
          },
          {
            "type": "select",
            "id": "header_block_bg_pos",
            "label": "Image alignment",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
    {% endschema %}
    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      {% if section.settings.logo %}
        {% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": "https:{{ section.settings.logo | img_url: image_size }}",
      {% endif %}
      "sameAs": [
        "{{ settings.social_twitter_link }}",
        "{{ settings.social_facebook_link }}",
        "{{ settings.social_pinterest_link }}",
        "{{ settings.social_instagram_link }}",
        "{{ settings.social_tumblr_link }}",
        "{{ settings.social_snapchat_link }}",
        "{{ settings.social_youtube_link }}",
        "{{ settings.social_vimeo_link }}"
      ],
      "url": "{{ shop.url }}{{ page.url }}"
    }
    </script>
    
    {% if template.name == 'index' %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "{{ shop.name }}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ shop.url }}/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
          },
          "url": "{{ shop.url }}{{ page.url }}"
        }
      </script>
    {% endif %}