{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available in the "Header" section in the theme editor.

  Theme Store required settings
  - Show announcement
  - Text: message to announce
  - Link: link of the announcement bar

  Theme Store optional settings
  - Home page only: only shows on the home page
{%- endcomment -%}
<div class="container-full white-bg" id="header">
  <div class="container">
      <header role="banner" class="header">
          <div class="logo-with-menu row vertical-center">
            <a href="/" class="logo"><h2>{{shop.name}}</h2></a>
            <nav role="navigation row" class="navigation">
              <ul class="menu desktop row">
                {% for link in linklists[section.settings.menu].links %}
                  {% if link.links != blank %}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                      <ul>
                        {% for childlink in link.links %}
                          <li>
                            <a href="{{ childlink.url }}">
                              {{ childlink.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    </li>
                  {% else %}
                    <li>
                      <a href="{{ link.url }}">
                        {{ link.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </nav>
          </div>
        <div class="header-actions">
          {% if shop.customer_accounts_enabled %}
            <ul class="row">
              {% if customer %}
                <li>
                  {% if customer.first_name != blank %}
                    {% capture first_name %}<a href="/account">{{ customer.first_name }} /</a>{% endcapture %}
                    {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                  {% else %}
                    <a href="/account">{{ 'layout.customer.account' | t }}</a>
                  {% endif %}
                </li>
                <li>
                  {{ 'layout.customer.log_out' | t | customer_logout_link }}
                </li>
              {% else %}
                <li>
                  {{ 'layout.customer.log_in' | t | customer_login_link }}
                </li>
                <li>
                  {{ 'layout.customer.create_account' | t | customer_register_link }}
                </li>
              {% endif %}
            </ul>
          {% endif %}
          <form action="/search" method="get" role="search" class="header-form">
            <input class="radius-left dark-style not-active" type="search"
              name="q"
              id="Search-{{ section.id }}"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.search.placeholder' | t }}">
            <button type="submit" class="radius-none">
              {% include 'icon-search' %}
            </button>
          </form>
          <a href="/cart" class="cart center-all radius-all">
            {% render 'icon-cart' %}
            {% if cart.item_count > 0 %}
              {% if cart.item_count > 9 %}
                <span class="center-all">9+</span>
                {% else %}
                <span class="center-all">{{ cart.item_count }}</span>
              {% endif %}
            {% endif %}
          </a>
        </div>
      </header>
    </div>
    {% if template == 'index' %}
      <div class="container-full row full-height-nav white-bg">
        <div class="header-left white-bg vertical-center">
          <h1 class="big">Humanity <br>runs<br> on<br> coffee</h1>
        </div>
        <div class="header-right" style="background-image: url({{ section.settings.header_block_bg | img_url: 'master' }}); background-position:{{ section.settings.header_block_bg_pos }};">
        </div>
      </div>
    {% endif %}
    </div>
    {% schema %}
      {
        "name": "Header",
        "settings": [
          {
            "type": "header",
            "content": "Announcement bar"
          },
          {
            "type": "checkbox",
            "id": "announcement_bar_enabled",
            "label": "Show announcement",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "announcement_bar_home_page_only",
            "label": "Show on home page only",
            "default": true
          },
          {
            "type": "text",
            "id": "announcement_bar_text",
            "label": "Announcement text",
            "default": "Announce something here"
          },
          {
            "type": "url",
            "id": "announcement_bar_link",
            "label": "Announcement link",
            "info": "Optional"
          },
          {
            "type": "header",
            "content": "Header"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "default": "main-menu"
          },
          {
            "type": "link_list",
            "id": "menu-collection",
            "label": "Collection menu"
          },
          {
            "type": "image_picker",
            "id": "header_message_image",
            "label": "Image for message"
          },
          {
            "type": "image_picker",
            "id": "header_block_bg",
            "label": "Image for bg"
          },
          {
            "type": "select",
            "id": "header_block_bg_pos",
            "label": "Image alignment",
            "default": "center",
            "options": [
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
    {% endschema %}
    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      {% if section.settings.logo %}
        {% assign image_size = section.settings.logo.width | append:'x' %}
        "logo": "https:{{ section.settings.logo | img_url: image_size }}",
      {% endif %}
      "sameAs": [
        "{{ settings.social_twitter_link }}",
        "{{ settings.social_facebook_link }}",
        "{{ settings.social_pinterest_link }}",
        "{{ settings.social_instagram_link }}",
        "{{ settings.social_tumblr_link }}",
        "{{ settings.social_snapchat_link }}",
        "{{ settings.social_youtube_link }}",
        "{{ settings.social_vimeo_link }}"
      ],
      "url": "{{ shop.url }}{{ page.url }}"
    }
    </script>
    
    {% if template.name == 'index' %}
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",
          "name": "{{ shop.name }}",
          "potentialAction": {
            "@type": "SearchAction",
            "target": "{{ shop.url }}/search?q={search_term_string}",
            "query-input": "required name=search_term_string"
          },
          "url": "{{ shop.url }}{{ page.url }}"
        }
      </script>
    {% endif %}