{%- comment -%}
  This is a required section for the Shopify Theme Store.

  Theme Store required settings
  - Heading: title of the about us short section
  - Subheading: description of the about us short section
{%- endcomment -%}
  <div class="container-full margin-top-45 white-bg two-per-row end vertical-center">
    {% if section.settings.reverse  %}
      <div class="image-with-text-wrap grid-el">
        <div class="text-inner">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.text }}</p>
            {% if section.settings.link_text and section.settings.url %}
              <a href="{{ section.settings.url }}" class="link-dark">{{ section.settings.link_text }}</a>
            {% endif %}
        </div>
      </div>
      <div class="image-with-text-wrap full-height grid-el">
        <img src="{{ section.settings.image_text | img_url: 'master' }}" alt="{{ section.settings.image_alt }}">
      </div>
    {% else %}
      <div class="image-with-text-wrap reverse full-height grid-el">
        <img src="{{ section.settings.image_text | img_url: 'master' }}" alt="{{ section.settings.image_alt }}">
      </div>
      <div class="image-with-text-wrap reverse grid-el">
        <div class="text-inner">
            <h2>{{ section.settings.heading }}</h2>
            <p>{{ section.settings.text }}</p>
            {% if section.settings.link_text and section.settings.url %}
              <a href="{{ section.settings.url }}" class="link-dark">{{ section.settings.link_text }}</a>
            {% endif %}
        </div>
      </div>
    {% endif %}

  </div>

{% schema %}
  {
    "name": "Image with text",
    "presets": [{
      "name": "Image with tex",
      "category": "Company"
    }],
    "settings": [
    {
      "type": "checkbox",
      "id": "reverse",
      "default": false,
      "label": "Reverse image and text"
    },
    {
      "type": "textarea",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "textarea",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "Link text"
    },
    {
      "type": "text",
      "id": "link",
      "label": "Url"
    },
    {
      "type": "image_picker",
      "id": "image_text",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt"
    }
    ]
  }
{% endschema %}