{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add "Newsletter" section on the Theme Editor.

  Theme Store required settings
  - Heading: title of the newsletter section
  - Subheading: description of the newsletter section
{%- endcomment -%}
<section data-section-id="{{ section.id }}" data-section-type="newsletter">
  {% if section.settings.image_bg_contact %}
    <div class="container-full height_300" style="background-image: url({{ section.settings.image_bg_contact | img_url: 'master' }}");">
  {% else %}
    <div class="container-full height_300 dark-bg");">
  {% endif %}
  <div class="container-full height_300" style="background-image: url({{ section.settings.image_bg_contact | img_url: 'master' }}");">
    <div class="container row start margin_45">
      <h2>{{ section.settings.section_title }}</h2>
    </div>
    <div class="container">
      {% form 'customer'%}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
      {% else %}
        <input type="hidden" name="contact[tags]" value="newsletter">
        <input type="email"
          name="contact[email]"
          id="Email"
          class="email-field radius-left"
          value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
          placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
          autocorrect="off"
          autocapitalize="off">
        <input class="button-dark-style radius-right" value="Subscribe" type="submit" name="commit" id="Subscribe">
      {% endif %}
    {% endform %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "section_title",
        "label": "Heading",
        "default": "Subscribe to our newsletter"
      },
      {
        "type": "image_picker",
        "id": "image_bg_contact",
        "label": "Image for bg"
      }
    ],
    "presets": [{
      "name": "Newsletter",
      "category": "Promotional"
    }]
  }
{% endschema %}
