<section data-section-id="{{ section.id }}" data-section-type="product">
  <div class="container-full dark-bg">
      <div class="container margin_30">
          {% render 'breadcrumbs' %}
      </div>
  </div>
  <div class="container-full dark-bg product vertical-center">
      <div class="container">
          {% form 'product', product, class: 'product-main-form product between margin_45' %}
              <div class="wrapper-product">
                  {% if product.compare_at_price > product.price %}
                      <div class="product-sale">
                          <h3>sale<h3>
                          </div>
                          {% endif %}
                          <!-- HERE-ENDS -->
                          <div class="slider product-slider">
                            {% if product.variants.size > 1 %}
                                {% for product_option in product.options_with_values %}
                                    {% if product_option.name == 'Color' %}
                                        {% for value in product_option.values %}
                                            {% for variant in product.variants %}
                                                {% if variant.title contains value %}
                                                    <div class="product-el-photo">
                                                        <div class="product-img">
                                                            <img src="{{ variant.image | img_url: '1024x1024' }}" alt="{{ variant.image.alt | escape }}">
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% else %}
                                    {% for image in product.images %}
                                    <div class="product-el-photo">
                                        <div class="product-img">
                                            <img src="{{ image.src | product_img_url: '1024x' }}">
                                        </div>
                                    </div>
                                    {% endfor %}
                                  {% endif %}
                              </div>
                              <div class="product-image-navigation">
                                  <div class="slider mini-product-slider">
                                    {% if product.variants.size > 1 %}
                                      {% for variant in product.variants %}
                                      <div class="product-el-photo">
                                        <div class="top">
                                            <img src="{{ variant.image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}"></div>
                                        <div class="bottom"><p>{{ variant.title }}</p><div class="overlay"></div></div>
                                      </div>
                                      {% endfor %}
                                      {% else %}
                                      {% if product.images.size > 1 %}
                                        {% for image in product.images %}
                                        <div class="product-el-photo default">
                                            <div class="top">
                                                <img src="{{ image.src | product_img_url: '1024x' }}" alt="{{ image.alt | escape }}">
                                            </div>
                                        </div>
                                        {% endfor %}
                                      {% endif %}
                                    {% endif %}
                                  </div>
                              </div>
                              <!-- HERE-ENDS -->
                          </div>
                          <div class="wrapper-product">
                              <h1>{{ product.title }}</h1>
                              <h2 class="margin_bottom_30">
                                  {% if product.compare_at_price > product.price %}
                                      {% if product.price_varies %}
                                          {%- assign sale_price = product.price | money -%}
                                      {% else %}
                                          {{ product.price | money }}
                                      {% endif %}
                                  {% else %}
                                      {% if product.price_varies %}
                                          {%- assign price = product.price | money -%}
                                      {% else %}
                                          {{ product.price | money }}
                                      {% endif %}
                                  {% endif %}
                                  {% if product.compare_at_price > product.price %}
                                      {{ products.product.regular_price }}
                                      <s>{{ product.compare_at_price | money }}</s>
                                  {% endif %}
                                  {% unless product.available %}
                                      {{ 'products.product.sold_out' | t }}
                                  {% endunless %}
                              </h2>
                              <select name="id" id="ProductSelect-{{ section.id }}" class="margin_30 select-product-list">
                                  {% for variant in product.variants %}
                                      {% if variant.available %}
                                          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">
                                              {{ variant.title }}
                                              -
                                              {{ variant.price | money_with_currency }}</option>
                                      {% else %}
                                          <option disabled="disabled">
                                              {{ variant.title }}
                                              -
                                              {{ 'products.product.sold_out' | t }}
                                          </option>
                                      {% endif %}
                                  {% endfor %}
                              </select>
                              {% if section.settings.product_quantity_enable %}
                                  <div class="">
                                      <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                                      <input type="number" id="Quantity" name="quantity" value="1" min="1"></div>
                                  {% endif %}
                                  <div class="">
                                      <button type="submit" name="add" id="AddToCart" class="product-page light-style" data-cart-url="{{ routes.cart_url }}">
                                          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                                      </button>
                                      {% if section.settings.enable_payment_button %}
                                          {{ form | payment_button }}{% endif %}
                                      </div>
                                  {% endform %}
                                  <div class="margin_top_30">
                                      {{ product.description }}
                                  </div>
                                  <h2 class="margin_top_30">Collections:</h2>
                                  <div class="product-collection-list">
                                    {% for collection in product.collections %}
                                        <a class="light-style product-collection-el" href="{{ collection.url }}">{{ collection.title }}</a>
                                    {% endfor %}
                                    {% for collection in product.collections %}
                                        <a class="light-style product-collection-el" href="{{ collection.url }}">{{ collection.title }}</a>
                                    {% endfor %}
                                  </div>
                              </div>
                              {% if section.settings.show_share_buttons %}
                                  <div class="wrapper-product share margin_top_30 row center">
                                      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                                  </div>
                              {% endif %}
                          </div>
                      </div>
                      <div class="container-full dark-bg padding_bottom_45px">
                          <div class="container">
                              <div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>
                          </div>
                      </div>
                  </section>