{% assign product_qty = 0 %}
{% for variant in product.variants %}
  {% if variant.inventory_quantity > 0 %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
  {% endif %}
{% endfor %}

<div class="container white-bg margin-top-100 product-description">
    {% form 'product', product, class: 'product-main-form' %}
    <div class="product-description-wrap">
        <h1 class="margin-top-30">{{ product.title }}</h1>
        <h2 class="margin-bottom-30">
            {% if product.compare_at_price > product.price %} {% if product.price_varies %} {%- assign sale_price = product.price | money -%} {% else %} {{ product.price | money }} {% endif %} {% else %} {% if product.price_varies %} {%- assign price = product.price
            | money -%} {% else %} {{ product.price | money }} {% endif %} {% endif %} {% if product.compare_at_price > product.price %} {{ products.product.regular_price }}
            <s>{{ product.compare_at_price | money }}</s> {% endif %} {% unless product.available %} {{ 'products.product.sold_out' | t }} {% endunless %}
        </h2>
        <p class="description-text margin-bottom-15">{{ product.description | strip_html | truncatewords: 45 }}</p>
        {% if product.description != blank %}
            <a href="#" class="read-more" id="read-more">Read more</a>
        {% endif %} 
        {% if settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
    {% endif %}
        <div class="product-action vertical-center margin-top-15 row radius-all">
            
            <select name="id" id="ProductSelect-{{ section.id }}" class="select-product-list radius-top-left">
                {% for variant in product.variants %}
                    {% if variant.available %}
                        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">
                            {{ variant.title }}
                            -
                            {{ variant.price | money_with_currency }}</option>
                    {% else %}
                        <option disabled="disabled">
                            {{ variant.title }}
                            -
                            {{ 'products.product.sold_out' | t }}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
            <input min="1" type="number" id="quantity" class="product-page radius-top-right" name="quantity" value="1" />
            <button type="submit" name="add" id="AddToCart" class="radius-bottom product-page light-style" data-cart-url="{{ routes.cart_url }}">
                    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button> {% if section.settings.enable_payment_button %} {{ form | payment_button }} {% endif %}
                <!-- <input type="hidden" name="return_to" value="back" /> -->
            </div>
        
        <h2 class="margin-top-30">Collections:</h2>
        <div class="product-collection-list">
            {% for collection in product.collections %}
            <a class="dark-style product-collection-el radius-all" href="{{ collection.url }}">{{ collection.title }}</a> {% endfor %}
        </div>
    </div>
    {% endform %}
</div>

<div class="product-description-block dark-bg">
    <div class="text-inner padding-20vw">
        <h1>{{ product.title }}</h1>
        {{ product.description }}
        <div class="disable-read-mode">
            <span class="radius-all"></span>
            <span class="radius-all"></span>
        </div>
    </div>
</div>