
<div class="container-full white-bg blog">
  {%- assign blog_title = blog.title -%}
  <h1 class="margin_top_30">{{ blog_title }}</h1>
  <div class="container row start margin_45">
    {% paginate blog.articles by 12 %}
        {% for article in blog.articles %}
        <div class="blog-block row">
          {% if article.image %}
            <div class="media" style="background-image: url({{ article.image | img_url: 'master' }}"></div>
            {% else %}
            <div class="media" style="background-image: url({{ article.image | img_url: 'master' }}"></div>  
            {% endif %}
          <div class="description white-bg padding_2vw">
            <h2>{{ article.title | strip_html | truncatewords: 5 }}</h2>
              {% if article.excerpt.size > 0 %}
                {{ article.excerpt }}
              {% else %}
                <p>
                  {{ article.content | strip_html | truncatewords: 50 }}
                </p>
              {% endif %}
              <a class="link-dark" href="{{ article.url }}">Read more</a>
          </div>
      </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}
  </div>
</div>
