
<div class="container-full white-bg blog">
  {%- assign blog_title = blog.title -%}
  <div class="container row start margin_45">
    {% paginate blog.articles by 12 %}
        {% for article in blog.articles %}
        {% if article.image %}
          <div class="blog-block row radius-all" style="background-image: url({{ article.image | img_url: 'master' }}">
        {% else %}
          <div class="blog-block row radius-all" style="background-image: url({{ 'blog.jpg' | asset_url' }}">
        {% endif %}
          <div class="description padding_2vw column horizontal-center">
            <h2>{{ article.title | strip_html | truncatewords: 15}}</h2>
            <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            <a href="{{ article.url }}" class="link-dark">Read more</a>
          </div>
          {% if article.image %}
            <div class="media" style="background-image: url({{ article.image | img_url: 'master' }}">
          {% else %}
            <div class="media" style="background-image: url({{ 'blog.jpg' | asset_url }}">
          {% endif %}
            <div class="dark-image-bg radius-all"></div>
          </div>
          <div class="dark-image-bg radius-all"></div>
          <a class="" href="{{ article.url }}"></a>
      </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}

    {% endpaginate %}
  </div>
</div>
