    {% if cart.item_count > 0 %}
    <div class="container-full row start margin-top-100">
      <div class="container w_70 margin-top-45 row between vertical-center">
        <h2>{{ 'cart.general.title' | t }}</h2>
        <h5>{{ cart.item_count }} items</h5>
      </div>
      <form action="/cart" method="post" novalidate>
        <div class="container column full-height margin-45 w_70 cart">
          {% for item in cart.items %}
            <div class="cart-block white-bg row margin-top-45 vertical-center">
              {% if item.image %}
                <div class="product-image radius-all">
                  <img src="{{ item | img_url: '1024x' }}" alt="" class="radius-all">
                  <a href="{{ item.url }}"></a>
                </div>
              {% else %}
                <div class="product-image radius-all">
                  <img src="{{ 'product.jpg' | asset_url }}" alt="" class="radius-all">
                  <a href="{{ item.url }}"></a>
                </div>
              {% endif %}
                <div class="product-info padding-1vw row vertical-center">
                  <div class="product-main column horizontal-center">
                    <a href="{{ item.url }}"><h4>{{ item.product.title }}</h4></a>
                    {% if item.original_line_price != item.line_price %}
                        <h6 class="margin-top-15 margin-bottom-15">{{ 'cart.label.discounted_price' | t }}</h6>
                        {{ item.price | money }}
                        <h6 class="margin-top-15 margin-bottom-15">{{ 'cart.label.original_price' | t }}</h6>
                        <h6>{{ item.original_price | money }}</h6>
                    {% else %}
                        <h6 class="margin-top-15 margin-bottom-15">{{ item.price | money }}</h6>
                    {% endif %}
                  </div>


                  <div class="product-count center-all one-per-row">
                    <input 
                      class="grid-el"
                      type="number"
                      name="updates[]"
                      id="updates_{{ item.key }}"
                      value="{{ item.quantity }}"
                      min="0"
                      aria-label="{{ 'cart.general.item_quantity' | t }}">
                    <input type="submit" class="grid-el button-dark-style" name="update" value="{{ 'cart.general.update' | t }}">
                    <a class="grid-el link-dark" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Remove</a>
                  </div>
                </div>
            </div>
          {% endfor %}
          </div>
          <div class="container cart-result-wrap dark-bg radius-bottom-left w_30 fixed-pos-right column cart checkout">
            <div class="cart-result dark-bg margin-top-100 column">
              <div class="top">
                <h2 class="margin-top-45">Summary</h2>
                {% if cart.total_discounts > 0 %}
                  <h4>Discounts {{ cart.total_discounts | money }}</h4>
                {% endif %}
              </div>
              <div class="bottom">
                <h5 class="margin-top-15">Total: {{ cart.total_price | money }}</h5>
                <input type="submit" class="margin-45 button-light-style" name="checkout" value="{{ 'cart.general.checkout' | t }}">
              </div>
            </div>
          </div>
        </form>
    </div>
    {% else %}
    <div class="container-full white-bg">
      <div class="container full-height-nav column center-all">
        <h2>Shopping cart is empty</h2>
        <p>{{ 'cart.general.cookies_required' | t }}</p>
        <a href="/collections/all" class="link-dark">Keep shopping</a>

        {% comment %}
        Cart no cookies state
        ---------------------
        Browser cookies are required to use the cart. If cookies aren't enabled in the
        browser a message is displayed prompting the user to enable them.
        {% endcomment %}
      </div>
    </div>
    {% endif %}
    {% include 'cart-add-on' %}