{% comment %}
  This page represents the /collections and /products pages.
{% endcomment %}

<section class="collections margin-top-100 white-bg">
  <div class="container-all margin-45 white-bg">
    <div class="container four-per-row white-bg row start">
      {% paginate collections by 12 %}
      {% for collection in collections %}
        {% unless collection.handle == 'frontpage' %}
        <div class="collection-block grid-el radius-all">
          {% if collection.image %}
            <div class="left center-all radius-all"" style="background-image: url('{{ collection.image.src | collection_img_url: '1024x' }}');">
          {% else %}
            <div class="left center-all radius-all"" style="background-image: url('{{ 'collection.jpg' | asset_url }}');">
          {% endif %}
            <h2>{{ collection.title }}</h2>
            <div class="dark-image-bg radius-all""></div>
          </div>
          <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: title }}"></a>
        </div>
        {% endunless %}
      {% endfor %}
      <div class="container padding-none">
        {% if paginate.pages > 1 %}
          {% include 'pagination' %}
        {% endif %}
      </div>

  {% endpaginate %}
    </div>
  </div>
</section>